.box {
    width: 100px;
    height: 100px;
    background: red;
}


/*.box:hover {
    background: green;
}*/

input {
    width: 50%;
    /*anchura*/
    padding: 5px;
    /*margen interior*/
}

input:focus {
    border: 3xp solid greenyellow;
    /*propiedad bordes*/
    border-radius: 5px;
    /*tipos bordes, hay varios*/
    background-color: black;
    /*color fondo*/
    color: greenyellow;
    /*color letra*/
}

.gallery__item {
    padding: 15px;
    float: left;
    border: 1px solid black;
    width: 100px;
    text-align: center;
    background-color: cornflowerblue;
}

.gallery__item_2 {
    padding: 15px;
    float: left;
    border: 1px solid black;
    width: 100px;
    text-align: center;
    background-color: lawngreen;
}