.box {
    width: 100px;
    height: 100px;
    background: red;
}

.box :hover {
    background: green;
}
/*hover no funciona??*/

input {
    width: 50%;/*anchura*/
    padding: 5px;/*margen interior*/
}

input :focus {
    border: 3xp solid greenyellow;/*propiedad bordes*/
    border-radius: 5px;/*tipos bordes, hay varios*/
    background-color: black;/*color fondo*/
    color: greenyellow;/*color letra*/
}
/*hover no funciona*/